<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <add name="MSSQL" connectionString="Data Source=localhost;Initial Catalog=test;User ID=sa;password=sa;" providerName="System.Data.SqlClient"/>
    <add name="Oracle" connectionString="Data Source=MYTESTDB;User ID=sa;Password=sa;" providerName="System.Data.OracleClient" />
</configuration>
